a {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    color: #1f53b5;
}

#root {
    margin: 1rem auto;
    width: 90vw;
}

div {
    margin-top: 1.5rem;
}
